[Desktop Entry]
Encoding=UTF-8
Name=Drivercoin
Comment=Drivercoin P2P Cryptocurrency
Comment[fr]=Drivercoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Drivercoin, eşten eşe kriptografik sanal para birimi
Exec=drivercoin-qt %u
Terminal=false
Type=Application
Icon=drivercoin128
MimeType=x-scheme-handler/drivercoin;
Categories=Office;Finance;
