[Unit]
Description=Drivercoin's distributed currency daemon
After=network.target

[Service]
User=drivercoin
Group=drivercoin

Type=forking
PIDFile=/var/lib/drivercoind/drivercoind.pid
ExecStart=/usr/bin/drivercoind -daemon -pid=/var/lib/drivercoind/drivercoind.pid \
-conf=/etc/drivercoin/drivercoin.conf -datadir=/var/lib/drivercoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
